<div class="control-group category-saved-searches">
  <label class="control-label">{{i18n "saved_searches.title"}}</label>

  <p>{{i18n
      "saved_searches.description"
      count=this.siteSettings.max_saved_searches
    }}</p>

  {{#each this.savedSearches as |savedSearch|}}
    <div class="controls saved-searches-controls saved-search">
      <Input @type="text" @value={{savedSearch.query}} />
      <ComboBox
        @content={{this.savedSearchFrequencyOptions}}
        @valueProperty="value"
        @value={{savedSearch.frequency}}
        @onChange={{action (mut savedSearch.frequency)}}
      />
      <DButton
        class="remove-saved-search"
        @icon="trash-alt"
        @title="saved_searches.remove"
        @action={{action "removeSavedSearch" savedSearch}}
      />
    </div>
  {{else}}
    <div class="controls saved-searches-controls">
      {{i18n "saved_searches.none"}}
    </div>
  {{/each}}

  {{#if this.canAddSavedSearch}}
    <div class="controls saved-searches-controls">
      <DButton
        class="add-saved-search"
        @icon="plus"
        @label="saved_searches.add"
        @action={{action "addSavedSearch"}}
      />
    </div>
  {{/if}}
</div>

<SaveControls @model={{this}} @action={{action "save"}} @saved={{this.saved}} />